body {
  padding: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  position: relative;
  padding: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: #080808;
}

h2 {
  font-family: bradley hand, cursive;
}

div {
  padding: 5px;
}

label {
  width: 150px;
  margin-right: 20px;
  color: #8a55ec;
}

input {
  field-sizing: content;
  min-width: 50px;
  max-width: 350px;
}

button {
  padding: 5px;
  background-color: #8a55ec;
  margin: 5px;
}

a {
  color: #7146c1;
}

.my-card {
  border: 1px solid #7146c1;
  /* border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 2px 20px 1px rgba(0, 0, 255, .2); */
}
