body {
  padding: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  position: relative;
  padding: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: #080808;
}

h2 {
  font-family: bradley hand, cursive;
}

div {
  padding: 5px;
}

label {
  width: 150px;
  margin-top: 15px;
  margin-left: 15px;
  color: #8a55ec;
  font-size: 20px;
}

input {
  field-sizing: content;
  min-width: 50px;
  max-width: 350px;
  margin-left: 5px;
}

button {
  padding: 2px;
  background-color: #DB96F4;
  margin: 5px;
  
}
.container {
  display: flex;
  justify-content: flex-start;
}

.top-menu {
  border-bottom: 1px dashed #8a55ec;
}

.submit-container {
  border-top: 1px dashed #8a55ec;
}

a {
  color: #7146c1;
}

.logo {
  width: 36px;
  height: 41px;
}

.my-card {
  border: 1px solid #7146c1;
  /* border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 2px 20px 1px rgba(0, 0, 255, .2); */
}
